<form action="/user/deleteAll" method="post">
  <table class="table table-hover" th:fragment="administrateUsersTable" id="administrateUsersTable" >
    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert">
    </div>


    <thead>
    <tr>
      <th scope="col" th:text="#{usersTable.email}"></th>
      <th scope="col" th:text="#{usersTable.name}"></th>
      <th scope="col" th:text="#{usersTable.lastName}"></th>
      <th scope="col"></th>
      <th scope="col" th:text="#{usersTable.delete}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${administratorList}">
      <td th:text="${user.email}">71888888X</td>
      <td th:text="${user.name}">Nombre del alumno</td>
      <td th:text="${user.lastName}">Apellidos del alumno</td>


      <td><a th:href="${'/user/edit/' + user.id}" th:text="#{table.modidy}"></a></td>


      <td><input th:if="${!user.email.equals(email)}" type="checkbox" name="usuariosABorrar" th:checked="${user.borrado}" th:value="${user.id}"/></td>

    </tr>

    </tbody>
  </table>
  <div class="form-group" >
    <div class="col-sm-offset-2 col-sm-10">
      <button   type="submit"  th:text="#{usersTable.delete}" class="btn btn-primary">Borrar</button>
    </div>
  </div>
</form>