
<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
</div>

<div th:if="${#lists.isEmpty(postsList)}"> No hay publicaciones :(</div>

<div class="row">
    <div th:each="post : ${postsList}" class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <!-- Puedes agregar una imagen para representar la publicación aquí -->
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}">Título de la publicación</h5>
                <p class="card-text" th:text="${post.text}">Texto de la publicación</p>
                <p class="card-text" th:text="${'Autor: ' + post.user.email}">Autor de la publicación</p>
                <p class="card-text" th:text="${'Fecha de publicación: ' + post.date}">Fecha de la publicación</p>
                <!-- Puedes agregar más detalles de la publicación aquí -->
                <p th:if="${recommendedPosts.contains(post.id)}" class="card-text" th:text="#{recommendation.already}"></p>
                <form th:if="${!recommendedPosts.contains(post.id)}" action="/recommendation/add" method="post">
                    <input type="hidden" name="post_id" th:value="${post.id}">
                    <input type="hidden" name="user_id" th:value="${user.id}">
                    <button type="submit" class="btn btn-primary" th:text="#{recommendation.recommend}" ></button>
                </form>
            </div>
        </div>
    </div>
</div>