<table class="table table-hover" th:fragment="usersTable" id="marksTable" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.email}">71888888X</td>
        <td th:text="${user.name}">Nombre del alumno</td>
        <td th:text="${user.lastName}">Apellidos del alumno</td>
        <td><a th:href="${'/user/details/' + user.id}">detalles</a></td>
        <td><a th:href="${'/user/edit/' + user.id}">modificar</a></td>
        <td><a th:href="${'/user/delete/' + user.id}">eliminar</a></td>
    </tr>
    </tbody>
</table>