<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<table class="table table-hover">
    <tbody>
    <tr>
        <td><a href = "/log"><button class="btn btn-primary" >All</button></a></td>
        <td><a href = "/log/pet"><button class="btn btn-primary">PET</button></a></td>
        <td><a href = "/log/alta"><button class="btn btn-primary">ALTA</button></a></td>
        <td><a href = "/log/login-ex"><button class="btn btn-primary">LOGIN-EX</button></a></td>
        <td><a href = "/log/login-err"><button class="btn btn-primary">LOGIN-ERR</button></a></td>
        <td><a href = "/log/logout"><button class="btn btn-primary">LOGOUT</button></a></td>
        <td><a href = "/log/rem"><button class="btn btn-warning">DELETE</button></a></td>

    </tr>
    </tbody>
</table>

<table class="table table-hover" id="tableLogs">
    <thead>
    <tr>
        <th th:text="#{Log.type}" scope="col">Type</th>
        <th scope="col">Timestamp</th>
        <th th:text="#{Log.description}" scope="col">Description</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="log : ${logs}">
        <td th:text="${log.type}"> 1</td>
        <td th:text="${log.date}"> Ejercicio 1</td>
        <td th:text="${log.description}">10</td>

    </tr>
    </tbody>
</table>
<footer th:replace="fragments/pagination"/>
</body>
</html>